<form class="form">
    <h1 class="title">Create new album</h1>
    <hr>
    <label class="label" for="title">Title</label>
    <input class="input" id="title" type="text" name="title">
    <label class="label" for="artiste">Artiste</label>
    <input class="input" id="artiste" type="text" name="artiste">
    <label class="label" for="year">Year</label>
    <input class="input" id="year" type="number" name="year">
    <button class="btn">create !</button>
</form>